.gitignore
.project
*.gitignore
*.project
*.class
*.classpath
*.project
*.springBeans
pom.properties
org.eclipse.wst.common.component
MANIFEST.MF
/.settings
pom.xml
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Package Files #
*.war
*.ear
